.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #51565f; /* Bootstrap primary */
}

.registration-card {
    width: 30%;
    background-color: #d4d4d4;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-card h2 {
    margin-bottom: 20px;
}

.registration-card label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.registration-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.registration-card button {
    background-color: #195b87; /* Bootstrap success */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.registration-card button:hover {
    background-color: #4882a8;
}
